.detail-container {
  background-color: #fcf8f5;
  min-width: 100px;
  margin-left: -10px;

  .foto-container{
    border: 2px solid #f4e8da;
        .foto-banner{
            max-width: 320px;
            max-height: 350px;
        }
        .btn-foto{
          background-color: #63ACC3;
          color: #fff;
          &:hover{
            background-color: #26748c;
            border: 1px solid #f4e8da;
          }
        }
    }

  .deskripsi-container{
    .box{
      color: #71A446;
      max-width: 120px;
    }
    .sinopsis{
      margin-top: -6px;
      font-size: 16px;
      line-height: 22px;
    }
    .table.table-information{
      margin-top: -6px;
    }
  }
  }

